{% extends "login.html" %}

{% block pageheading %}login{% endblock %}

{% block main %}
<form class="myform">
    <div class="form-group">
        <div class="form-label">Last Name</div>
        <div class="form-element"><imput type="text" id="lname" name="lname"></div>
    </div>

    <div class="form-group">
        <div class="form-label">Email:</div>
        <div class="form-element"><imput type="email" id="email" name="email"></div>
    </div>

    <div class="form-group">
        <div class="form-label">Password:</div>
        <div class="form-element"><imput type="password" id="password" name="password"></div>
    </div>

    <div class="form-group">
        <div class="form-label">Repeat Password:</div>
        <div class="form-element"><imput type="password" id="password" name="password"></div>
    </div>

</form>
{% endblock %}