# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\21438\OneDrive - Wellington College\y13\dts 2022\Maori Dictionary\Maori Dictionary\Maori Dictionary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
