
<!doctype html>
<html lang="en">
<head>
	<link href="/static/css/style.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comforta&family=Suez+One&display=swap" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
	<meta name="Description" content="Author: D Benseman, Content: A dictionary to convert maori words to english.">
</head>







<body>


	<div id="container">
        <h3></h3>

		<header>
			<h1>{% block heading %}{% endblock %}</h1>
		</header>

		<nav>
            <input type="checkbox" name="drop_down_menu" />

			<ul>
                <li><a href="/">Home</a></li>
                {% for category in categories %}
                <li><a href="/category/{{ category[0] }}">{{ category[0] }}</a></li>
                {% endfor %}
			</ul>
		</nav>


		<!--
		=====================================================
		== Content row of the template.                 ==
		=====================================================
		-->

		<main>
            {% block main%}{% endblock %}
        </main>


		<footer>
			<p>
				&copy; Alister Jessen 2022
			</p>
		</footer>

	</div>
</body>
</html>
