{% extends 'base.html' %}

{% block pageheading %}
menu
{% endblock %}

{% block main %}
    <table>
    <thead>
    <tr>
        <td>Maori</td>
        <td>English</td>
        <td>Category</td>
        <td>Definition</td>
        <td>Picture</td>
        <td>Level</td>

    </tr>
    </thead>
{% for word in words %}
    <tr>
        <td>{{ word[0] }}</td>
        <td>{{ word[1] }}</td>
        <td>{{ word[2] }}</td>
        <td>{{ word[3] }}</td>
        <td>{{ word[1] + ".jpg" }}</td>
        <td>{{ word[4] }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}